<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content-based Document Recommendation System</title>
    <script src="js/vue-2.5.13.js"></script>
    <script src="js/vue-router-3.0.1.js"></script>
    <script src="js/axios-0.17.1.js"></script>
    <link rel="stylesheet" href="css/bulma-0.6.2.css">
    <style>
    .preview-blog__content {
        white-space: pre;
        overflow: hidden;
    }

    .hero-text--underlined {
        box-shadow: inset 0 -.4rem 0 #9691E4;
    }

    .footer__love {
        color: red;
    }

    [v-cloak] {
      display: none;
    }
    </style>
</head>
<body>

    <div id="app" v-cloak>

    	<section class="hero is-light is-bold">
    		<div class="hero-body">
    			<div class="container">
    				<h1 class="title">
    					{{ site.name }}
    				</h1>
    				<p class="subtitle" v-html="site.description"></p>
    			</div>
    		</div>
    		<div class="hero-foot">
    			<nav class="tabs is-boxed">
    				<div class="container">
    					<ul>
    						<router-link to="/articles" tag="li" active-class="is-active" exact>
    							<a href="javascript:;">文章</a>
    						</router-link>
    						<router-link to="/articles/new" tag="li" active-class="is-active" exact>
    							<a href="javascript:;">添加</a>
    						</router-link>
    					</ul>
    				</div>
    			</nav>
    		</div>
    	</section>

    	<section class="section">
    		<router-view v-bind:request-root-url="requestRootUrl"></router-view>
    	</section>

    	<!-- <footer class="footer">
        <div class="container">
          <div class="content">
            <p>
			  <h3>相关文章推荐列表</h3>
			  <br>
			  <a href="http://edition.cnn.com/2010/WORLD/europe/09/12/turkey.referendum/index.html" target="_blank">Turkey's Erdogan hails constitutional referendum win</a>.
			  <br>
			  <a href="http://edition.cnn.com/interactive/2017/04/world/konya-turkey/" target="_blank">God save Erdogan': Inside the Turkish president's heartland</a>.
			  <br>
              <a href="https://edition.cnn.com/2015/11/26/middleeast/recep-tayyip-erdogan-fast-facts/index.html" target="_blank">Recep Tayyip Erdogan Fast Facts</a>.
            </p>
          </div>
        </div>
      </footer> -->

      <footer class="footer">
        <div class="container">
          <div class="content">
            <p>
              设计者 —— 邓丰雨
            </p>
          </div>
        </div>
      </footer>

    </div>

    <!-- refer: https://vuejs.org/v2/guide/components.html#Inline-Templates -->
    <script type="text/x-template" id="add-blog-template">
      <div class="container">
    		<h2 class="title is-size-2">新文章</h2>
    		<form action="">
    			<div class="field">
    				<label class="label">题目</label>
    				<div class="control">
    					<input class="input" type="text" v-model.lazy="blog.title">
    				</div>
    			</div>
    			<div class="field">
    				<label class="label">文本内容</label>
    				<div class="control">
    					<textarea class="textarea" v-model="blog.content"></textarea>
    				</div>
    			</div>
    			<div class="field">
    				<label class="label">类别</label>
    				<div class="control">
    					<label class="checkbox">
    						<input type="checkbox" value="javascript" v-model="blog.categories"> 科技
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="html" v-model="blog.categories"> 体育
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="css" v-model="blog.categories"> 政治
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="vuejs" v-model="blog.categories"> 娱乐
    					</label>
    					<label class="checkbox">
    						<input type="checkbox" value="laravel" v-model="blog.categories"> 经济
    					</label>
    				</div>
    			</div>
    			<div class="field">
    				<label class="label">作者</label>
    				<div class="control">
    					<div class="select">
    						<select v-model="blog.author">
    							<!-- refer: https://vuejs.org/v2/guide/forms.html#Select -->
    							<option disabled value="">请选择</option>
    							<option v-for="author of authors"  v-bind:value="author.id" v-bind:key="author.id">{{ author.name }}</option>
    						</select>
    					</div>
    				</div>
    			</div>
    			<div class="field">
    				<div class="control">
    					<button class="button is-link" v-on:click.prevent="storeBlog">添加</button>
    				</div>
    				<p v-if="submitted" class="help is-success">博客添加成功.</p>
    			</div>
    		</form>
    		<hr>
    		<div id="preview-blog" class="box preview-blog">
    			<h3 class="title is-size-3">文章预览</h3>
    			<div class="content">
    				<h4 class="title is-size-4">题目</h4>
    				<p>{{ blog.title }}</p>
    				<h4 class="title is-size-4">文本内容</h4>
    				<div class="preview-blog__content">{{ blog.content }}</div>
    				<h4 class="title is-size-4">类别</h4>
    				<div>
    					<ul>
    						<li v-for="category of blog.categories">{{ category }}</li>
    					</ul>
    				</div>
    				<h4 class="title is-size-4">作者</h4>
    				<p>{{ blog.author }}</p>
    			</div>
    		</div>
    	</div>
    </script>

    <script type="text/x-template" id="list-blog-template">
    	<div class="container" v-theme="''">
    		<h2 class="title is-size-2">文章列表</h2>
    		<div class="field">
    			<div class="control">
    				<input class="input is-medium" type="text" placeholder="搜索文章" v-model.trim="search">
    			</div>
			</div>
			
			<div class="content">
				<h3><router-link v-bind:to="'/articles/' + 1">Turkish parties urge headscarf ruling</router-link></h3>
				<div>
					Two of Turkey's main political parties are pushing for a constitutional amendment to lift bans...
				</div>
			</div>

			<div class="content">
				<h3><router-link v-bind:to="'/articles/' + 2">Deadly clashes at Syrian border on Mideast war anniversary</router-link></h3>
				<div>
					Israeli troops fired on protesters trying to cross the fortified border between Syria and the occupied Golan Heights on Sunday...
				</div>
			</div>

			<div class="content">
				<h3><router-link v-bind:to="'/articles/' + 3">5 accused of starting Malibu wildfire</router-link></h3>
				<div>
					Five men are accused of starting a massive Malibu wildfire at that destroyed more than 50 homes...
				</div>
			</div>

			
			<div class="content">
				<h3><router-link v-bind:to="'/articles/' + 4">Dalai Lama pleads for peaceful dialogue on Tibet</router-link></h3>
				<div>
					The Dalai Lama Friday rejected a series of allegations from the Chinese government, saying he does not seek the separation...
				</div>
			</div>

			
    	</div>
    </script>


	<script type="text/x-template" id="show-blog-template1">
    	<div class="container">
    		<h2 class="title is-size-2">Turkish parties urge headscarf ruling</h2>
    		<div class="content">
				Two of Turkey's main political parties are pushing for a constitutional amendment to lift bans on headscarves at public universities, a move that has caused concern among Turkey's secular population. Prime Minister Recep Tayyip Erdogan initiated the move, saying it would create equality in Turkey's higher education.
				<br>
				<br>
				The constitutional commission will discuss the proposal -- submitted by the AKP and MHP parties -- in the coming days before sending it to the floor for a vote.

				If approved, it would need President Abdullah Gul's approval, which is expected.

				Under the proposal, veils, burqas or chaddors -- all of which cover a woman's face -- would not be allowed.

				Bans on headcoverings were imposed in the early 1980s by Turkey's universities because they were seen as political symbols and conflicted with Turkey's secular governing system.
				<br>
				<br>
				The constitutional commission will discuss the proposal -- submitted by the AKP and MHP parties -- in the coming days before sending it to the floor for a vote.

				If approved, it would need President Abdullah Gul's approval, which is expected.

				Under the proposal, veils, burqas or chaddors -- all of which cover a woman's face -- would not be allowed.

				Bans on headcoverings were imposed in the early 1980s by Turkey's universities because they were seen as political symbols and conflicted with Turkey's secular governing system.

				The proposal to change Turkey's constitution sent chills through Turkey's secular population. Women's groups went to parliament Tuesday to voice their rejection.

				"This is a direct threat to the republic and its foundations," said Deniz Baykal, leader of Turkey's main secular party, CHP.

				Another CHP lawmaker said she fears that if the proposal is enacted, parents will feel pressure to have their daughters wear headscarves, even in elementary school.

				Mustafa Akaydin, head of Turkey's Higher Education Commission, is against the proposal. He said that allowing headscarves would be a rejection of Turkey's secular system of government.

				"It is an attempt to create a counterrevolution," Akaydin said. "It will be a breaking point."

				He said a majority of female high school students at one school were wearing headscarves during last weekend's entry exams -- a rarity in Turkish schools.

				The Higher Education Commission will meet Friday in Ankara to discuss the proposed changes.
			</div>

			<br>
			<br>

			<div class="container">
				<div class="content">
				  <p>
					<h3>相关文章推荐列表</h3>
					<br>
					<a href="http://edition.cnn.com/2010/WORLD/europe/09/12/turkey.referendum/index.html" target="_blank">Turkey's Erdogan hails constitutional referendum win</a>.
					<br>
					<a href="http://edition.cnn.com/interactive/2017/04/world/konya-turkey/" target="_blank">God save Erdogan': Inside the Turkish president's heartland</a>.
					<br>
					<a href="https://edition.cnn.com/2015/11/26/middleeast/recep-tayyip-erdogan-fast-facts/index.html" target="_blank">Recep Tayyip Erdogan Fast Facts</a>.
				  </p>
				</div>
			</div>
    	</div>
	</script>

	<script type="text/x-template" id="show-blog-template2">
    	<div class="container">
    		<h2 class="title is-size-2">Deadly clashes at Syrian border on Mideast war anniversary</h2>
    		<div class="content">
				Golan Heights (CNN) -- Israeli troops fired on protesters trying to cross the fortified border between Syria and the occupied Golan Heights on Sunday, with Syrian authorities reporting more than a dozen dead and hundreds wounded.

				The protests came on the anniversary of the 1967 Middle East War, when Israel captured the Golan Heights from Syria. The Israel Defense Forces did not immediately confirm any casualties, though a spokeswoman said that Israeli troops used tear gas and live ammunition on members of an "angered mob."

				"We warned them verbally (and) with warning shots into the air," Lt. Col. Avital Leibovich told CNN. "And when these two options failed, we had to open fire selectively into the area, and this actually stopped those Syrians from reaching the Israeli-Syrian fence."
				<br><br>
				The Syrian state news agency said 23 people were killed and more than 350 wounded in the protests, which continued past nightfall. Medics could be seen carrying the wounded to vehicles and driving them away from the border.

				A spokesman for U.N. Secretary General Ban Ki-moon condemned the violence and urged restraint.

				"The events of today and of 15 May on the Golan put the long-held cease-fire in jeopardy. The Secretary-General calls for maximum restraint on all sides and strict observance of international humanitarian law to ensure protection of civilians," he said.

				As many as 500 people took part in the demonstration, holding mid-day prayers on the Syrian side of the border, then crouching down behind ramparts that Israel constructed in response to similar demonstrations three weeks ago. The number later dropped to about 50, with protesters waving Palestinian and Syrian flags.
				<br><br>
				Clashes also broke out between Palestinians and Israelis at the Qalandia crossing between Jerusalem and Ramallah in the West Bank on Sunday. At least six Palestinians were injured there, one seriously, by rubber bullets. Israeli forces also fired tear gas, while Palestinians threw stones.

				The clashes come three weeks after similar demonstrations marking the 1948 birth of the Jewish state -- a day of mourning for Palestinians, more than 700,000 of whom were displaced from their homes during the fighting that followed. Those protests left at least 12 dead.

				Leibovich accused Syria of trying to use the protests to create a diversion "from the bloodshed that is taking place inside Syria," where the United Nations says a crackdown against anti-government protests has left more than 1,000 dead.
				<br><br>
				"There is no question about it," she said. "The policemen, the armed Syrian forces are looking back and not doing anything."

				Demonstrators arrived in at least eight buses before the protest began, then came down from a hill known locally as "Shouting Hill" -- where people shout to family and friends on the other side of the border -- toward the ramparts Israeli forces constructed last month.

				Leibovich said Israeli troops were better prepared to deal with the demonstrations than with the May 15 protests, beefing up forces along the frontier and making clear "that we would not tolerate any infiltration into the Israeli side."

			</div>

			<br>
			<br>

			<div class="container">
				<div class="content">
				  <p>
					<h3>相关文章推荐列表</h3>
					<br>
					<a href="https://edition.cnn.com/2014/08/27/world/meast/syria-crisis/index.html" target="_blank">Syrian rebels, al Qaeda-linked militants seize Golan Heights border crossing</a>.
					<br>
					<a href="https://edition.cnn.com/2018/02/11/opinions/israel-iran-syria-conflict-opinion-miller/index.html" target="_blank">Mideast tensions get even worse</a>.
					<br>
					<a href="https://edition.cnn.com/2013/03/14/world/meast/syria-revolution-anniversary/index.html" target="_blank">Two years later, Syrian revolutionaries reflect on their cause, the costs</a>.
				  </p>
				</div>
			</div>

    	</div>
	</script>

	<script type="text/x-template" id="show-blog-template3">
    	<div class="container">
    		<h2 class="title is-size-2">5 accused of starting Malibu wildfire</h2>
    		<div class="content">
				MONTEREY PARK, California (CNN) -- Five men are accused of starting a massive Malibu wildfire at that destroyed more than 50 homes and forced about 15,000 people to evacuate.
				<br><br>
				Authorities say the five, ranging in ages from 18 to 27, were drinking in a popular party spot in a cave at the park when they started the fire.

				All five are from the Los Angeles area and are being charged with three felonies -- including two arson-related charges. Each count carries a sentence of two to four years in prison.

				Baca said investigators traced the fire to the cave, then used receipts and surveillance camera footage from a nearby store to hunt down the men.

				Investigators would not comment on why the men started the fire. During the investigation, fire officials speculated that a campfire may have started the blaze -- which engulfed roughly 5,000 acres and destroyed 80 structures, including the 53 homes.
				<br><br>
				California Gov. Arnold Schwarzenegger declared a state of emergency in the wake of the fire, which started on November 24.

				The blaze, which was fueled by dry Santa Ana winds and low humidity, followed a spate of California wildfires in October that charred more than 508,000 acres in several counties. Those fires forced 1 million people from their homes and left 14 people dead.

				The men are expected to make their first court appearance on Monday

			</div>
			<br><br>
			<div class="container">
				<div class="content">
				  <p>
					<h3>相关文章推荐列表</h3>
					<br>
					<a href="http://edition.cnn.com/2007/US/11/25/california.wildfire/index.html" target="_blank">Campfire may have started Malibu blaze, investigators say</a>.
					<br>
					<a href="http://edition.cnn.com/2007/SHOWBIZ/10/23/fire.entertainment/index.html" target="_blank">Fire affects TV shows, celebrities</a>.
				  </p>
				</div>
			</div>
		</div>
		

	</script>

	<script type="text/x-template" id="show-blog-template4">
    	<div class="container">
    		<h2 class="title is-size-2">Dalai Lama pleads for peaceful dialogue on Tibet</h2>
    		<div class="content">
				The Dalai Lama Friday rejected a series of allegations from the Chinese government, saying he does not seek the separation of Tibet and has no desire to "sabotage" the Olympic games.

				Issuing a statement while traveling in New Delhi, India, the spiritual leader of Tibetan Buddhists called on China "to exercise wisdom and to initiate a meaningful dialogue with the Tibetan people."

				Beijing has blamed the Dalai Lama and his followers for violence that erupted amid protests for Tibetan independence earlier this month, but China has drawn international criticism for its crackdown on the protests that began peacefully.

				President Bush said Friday he "urged restraint" during a phone conversation with Chinese President Hu Jintao earlier this week, and noted "that it's in his country's interest" for the government to have representatives "sit down again with representatives of the Dalai Lama."
				<br><br>
				Australian Prime Minister Kevin Rudd, appearing with Bush at the White House, also called for meetings between the two sides.
				
				"It's absolutely clear that there are human rights abuses in Tibet. That's clear-cut. We need to be up-front and absolutely straight about what's going on. Shouldn't shilly-shally about it," Rudd said.

				Tibet's government in exile has said the death toll from the protests has reached about 140 over the past two weeks, but China's government restrictions have made it difficult to confirm that number.

				Chinese authorities put the death toll at 19 and said most of those killed were "innocent victims" -- Han Chinese targeted by Tibetans.
				<br><br>
				"I am deeply saddened by the loss of life in the recent tragic events. I am aware that some Chinese have also died. I feel for the victims and their families and pray for them," the Dalai Lama said in his written statement Friday.

				He added that there is an "urgent need to seek a peaceful and mutually beneficial solution through dialogue. Even at this juncture I have expressed my willingness to the Chinese authorities to work together to bring about peace and stability."

				He noted repeatedly that he is not a "separatist."

				"Chinese brothers and sisters, I assure you I have no desire to seek Tibet's separation. Nor do I have any wish to drive a wedge between the Tibetan and Chinese peoples," he wrote.
				<br><br>
				Instead, protesters seek "meaningful self-rule" while remaining a part of China, he added.

				And, he said, "despite my repeated support for the Beijing Olympics, the Chinese authorities, with the intention of creating a rift between the Chinese people and myself, the Chinese authorities assert that I am trying to sabotage the games."

				The protests -- which began on the 49th anniversary of a failed Tibetan uprising -- have threatened to overshadow Beijing's role as host of the Summer Olympic Games in August.

				In his statement, the Dalai Lama complained the Chinese state-run media's coverage "of the recent events in Tibet, using deceit and distorted images, could sow the seeds of racial tension with unpredictable long-term consequences. This is of grave concern to me."

				China's state-run media, however, have accused some Western news agencies -- including CNN -- of distorting coverage of the riots to make China look bad and the protesters look like innocent victims.
				<br><br>
				A headline Friday on the English Web site of China's official Xinhua news agency read "'Anti-CNN' Web site reflects Chinese people's condemnation." The article offered a link to a site in which Chinese bloggers criticize CNN's coverage.

				In a statement, CNN said, "We have provided comprehensive coverage of all sides of this story," adding that the network's "reputation is based on reporting global news accurately and impartially." Read the full statement

				Earlier this week, China offered some media organizations -- not including CNN -- a carefully managed tour of Tibet's capital, but ran into a public-relations roadblock when a group of Buddhist monks began screaming protests at a holy shrine. 


			</div>

    	</div>
	</script>
	


    <script src=js/app.js></script>

</body>
</html>
